*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: skyblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer
{
    height: 600px;
    width: 400px;
    background-color: aqua;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 7px 7px 14px royalblue;
}

.head{
    height: 50px;
    padding: 10px;
    color:red;
    font-size: 30px;
    text-align: center;
}

.display
{
    width: 100%;
    height: 80px;
    padding: 5px;
    font-size:30px ;
    border: none;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: right;
    box-shadow:inset 2px 2px 10px #dab11e, inset -5px -5px 10px #ffffff;
}

.num
{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 30px;
    width: 85px;
    height: 85px;

    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #bc4343;
}

.num:active
{
    box-shadow: inset 1px 1px 2px #babeec,inset -1px -1px 2px #ffffff;
}

.num:hover
{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.4s;
}

.num-group
{
    display: flex;
    justify-content: space-around;
}